*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: peachpuff;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin-top: 100px;
    border: 1px solid black;
}

.square{
    width: calc(100% / 16);
    height: calc(100% / 16);
    background-color: white;
    border: 1px solid #000;
}

.change-background{
    background-color: greenyellow;
}

button{
    margin: 50px;
    width: 100px;
    height: 50px;
}